.container {
  padding: 60px;
  width: 800px;
}

.top h1 {
  font-size: 35px;
  font-weight: 100;
  margin-top: -20px;
  font-family: Libre Franklin;
}

.top p {
  margin-top: 8px;
  font-size: 15px;
  margin-bottom: 40px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  width: fit-content;
  margin: 0 auto;
  font-size: 15px;
}

.form input {
  border: none;
  outline: none;
  border-bottom: 1px solid white;
  padding: 5px;
  padding-right: 50px;
}

.form ::placeholder {
  font-size: 12px;
}

.form textarea {
  border: 1px solid white;
  padding: 10px;
  height: auto;
  width: 100%;
  overflow-y: scroll;
  scrollbar-color: rgba(17, 25, 40, 0.5) transparent;
  
}

.btn {
  padding: 10px 60px;
  border-radius: 10px;
  background-color: #ff5c00;
  cursor: pointer;
}

.btn:hover {
  background-color: #ff7f00;
}
